<h2 mat-dialog-title>Wprowadź szczegóły wizyty</h2>
<mat-dialog-content class="dialog">
  <mat-form-field class="dialog__input">
    <mat-label>Wprowadź leki</mat-label>
    <textarea class="dialog__textarea" matInput [(ngModel)]="medicines"></textarea>
  </mat-form-field>
  <mat-form-field class="dialog__input">
    <mat-label>Wprowadź opis</mat-label>
    <textarea class="dialog__textarea" matInput [(ngModel)]="description"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="dialog__button-container">
  <button class="dialog__button" mat-button [mat-dialog-close]="">zamknij</button>
  <button
    class="dialog__button"
    mat-button
    [mat-dialog-close]="{ medicines: medicines, description: description }">
    Zatwierdź
  </button>
</mat-dialog-actions>
