@use '../themes/theme';
@use '@angular/material' as mat;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$medical-clinic-FE-primary: mat.define-palette(mat.$green-palette, 600);
//$medical-clinic-FE-primary: mat.define-palette(mat.$indigo-palette);
$medical-clinic-FE-accent: mat.define-palette(mat.$green-palette, 600);
//$medical-clinic-FE-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$medical-clinic-FE-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$medical-clinic-FE-theme: mat.define-light-theme(
  (
    color: (
      primary: $medical-clinic-FE-primary,
      accent: $medical-clinic-FE-accent,
      warn: $medical-clinic-FE-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($medical-clinic-FE-theme);

html,
body {
  margin: 0;
  height: 100%;
  font-family: var(--font-family);
  color: var(--text-body);
  scroll-behavior: smooth;
  background-color: var(--secondary-color);
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: var(--text-color);
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--text-color);
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.125rem;
  color: var(--text-color);
}
mark {
  font-weight: 600;
  background-color: unset;
  color: inherit;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
