<div class="appointments-card">
  <div class="appointments-card__container-doctor">
    <img
      class="appointments-card__image"
      ngSrc="assets/image/green-person.png"
      alt="person"
      height="70"
      width="70" />
    <h3>
      {{ specialization }}

      <p>{{ 'appointment.tittle' | translate }} {{ doctorName + ' ' + doctorSurname }}</p>
    </h3>
  </div>
  <div class="appointments-card__container-right">
    <div class="appointments-card__container-data">
      <img
        class="appointments-card__image-calendar"
        ngSrc="assets/image/green-calendar.png"
        alt="person"
        height="40"
        width="40" />
      <span class="appointments-card__container-text"
        >{{ date }}
        <span class="appointments-card__container-hour"
          >{{ 'appointment.hour' | translate }} {{ hour }}</span
        ></span
      >
    </div>

    <div class="appointments-card__container">
      {{ clinic?.name }}, ul.{{ clinic?.street }} {{ clinic?.houseNo
      }}<span *ngIf="clinic?.flatNo">/{{ clinic?.flatNo }}</span
      >, {{ clinic?.postalCode }} {{ clinic?.city }}
    </div>
    <div class="appointments-card__container-text" *ngIf="user !== ''">
      {{ 'appointment.patient' | translate }} {{ user }}
    </div>
    <div>
      <div class="appointments-card__button-container" *ngIf="isFutureDate; else pastAppointment">
        <button
          (click)="clickCancelButton.emit($event)"
          class="appointments-card__button appointments-card__button-red">
          {{ 'button.cancel-visit' | translate }}
        </button>

        <button
          *ngIf="showDetailsButton"
          (click)="clickDetailsButton.emit($event)"
          class="appointments-card__button">
          {{ 'button.show-details' | translate }}
        </button>
      </div>
      <ng-template #pastAppointment>
        <div class="appointments-card__button-container">
          <button
            (click)="clickAgainMakeAppointmentButton.emit($event)"
            class="appointments-card__button">
            {{ 'button.book-again' | translate }}
          </button>
          <button (click)="clickDetailsButton.emit($event)" class="appointments-card__button">
            {{ 'button.show-details' | translate }}
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
