<div class="summary" *ngIf="visitDetails">
  <div class="summary__box">
    <h3>{{ 'patient.user-data' | translate }}</h3>
    <div class="summary__row">
      <span class="summary__row-text">{{ 'patient.name' | translate }}</span>
      <span class="summary__row-definition">Jan Kowalski</span>
    </div>

    <div class="summary__row">
      <span class="summary__row-text">{{ 'patient.pesel' | translate }}</span>
      <span class="summary__row-definition">999999999</span>
    </div>
    <div class="summary__row">
      <span class="summary__row-text">{{ 'patient.email' | translate }}</span>
      <span class="summary__row-definition">janek@wp.pl</span>
    </div>
  </div>

  <div class="summary__box">
    <h3>{{ 'patient.visit-data' | translate }}</h3>
    <div class="summary__row">
      <span class="summary__row-text">{{ 'patient.doctor' | translate }}</span>
      <span class="summary__row-definition"
        >{{ visitDetails.doctorName }} {{ visitDetails.doctorSurname }}</span
      >
    </div>
    <div class="summary__row">
      <span class="summary__row-text">{{ 'patient.address' | translate }}</span>
      <span class="summary__row-definition">janek@wp.pl</span>
    </div>
    <div class="summary__row">
      <span class="summary__row-text">{{ 'patient.date' | translate }}</span>
      <span class="summary__row-definition">{{ visitDetails.date }}</span>
    </div>
    <div class="summary__row">
      <span class="summary__row-text">{{ 'patient.hour' | translate }}</span>
      <span class="summary__row-definition">{{ visitDetails.hour }}</span>
    </div>
  </div>
  <div class="summary__bottom">
    <p class="summary__bottom-text">{{ 'patient.correct-data' | translate }}</p>
    <div class="summary__button-container">
      <button class="summary__button" mat-button (click)="goBack()">
        {{ 'patient.book-again' | translate }}
      </button>
      <button class="summary__button" mat-button (click)="bookVisit()">
        {{ 'patient.correct-book' | translate }}
      </button>
    </div>
  </div>
</div>
