<form [formGroup]="visitForm" class="new-appointment">
  <div class="new-appointment__container">
    <mat-form-field class="example-full-width">
      <mat-label>Wybierz specjalizację</mat-label>
      <input
        type="text"
        placeholder="Wybierz datę"
        matInput
        formControlName="specialization"
        [matAutocomplete]="auto" />
      <mat-autocomplete class="new-appointment" #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Wybierz datę</mat-label>
      <input formControlName="chosenDate" matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="month" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>

    <div *ngFor="let visit of availableVisits" class="new-appointment__choose-doctor">
      <span>{{ visit.doctorName + '' + visit.doctorSurname }}</span>
      <div class="new-appointment__choose-doctor-hour">
        <mat-button-toggle-group
          formControlName="chosenHour"
          class="new-appointment__button-toggle">
          <mat-button-toggle *ngFor="let hour of AvailableHour" value="{{ hour }}">{{
            hour
          }}</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>
  <div class="new-appointment__buttons-container">
    <button (click)="cancelClicked()">Anuluj</button>
    <button (click)="clickNext()">Przechodzę Dalej</button>
  </div>
</form>
<div>Chosen Value: {{ visitForm.get('specialization')?.value }}</div>
<div>Chosen Date: {{ visitForm.get('chosenDate')?.value | date }}</div>
<div>Chosen Hour: {{ visitForm.get('chosenHour')?.value }}</div>
