<form [formGroup]="visitForm" class="new-appointment">
  <div class="new-appointment__container">
    <mat-form-field class="example-full-width">
      <mat-label>{{ 'headers.specialization' | translate }}</mat-label>
      <input
        type="text"
        placeholder="{{ 'headers.specialization' | translate }}"
        matInput
        formControlName="specialization"
        [matAutocomplete]="auto"
        (click)="clearResult()" />
      <mat-autocomplete class="new-appointment" #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="'specialization.' + option.name | translate">
          {{ 'specialization.' + option.name | translate }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'headers.date' | translate }}</mat-label>
      <input formControlName="chosenDate" matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="month" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>

    <div
      *ngIf="
        availableVisits &&
          availableVisits.length > 0 &&
          visitForm.get('specialization')?.valid &&
          visitForm.get('specialization')?.value !== '';
        else noVisits
      ">
      <div *ngFor="let visit of availableVisits" class="new-appointment__choose-visit">
        <div>
          <p class="new-appointment__choose-visit-text">
            {{ visit.doctorName + ' ' + visit.doctorSurname }}
          </p>
          <span>{{ visit.date }}</span>
        </div>
        <div class="new-appointment__choose-doctor-hour">
          <mat-button-toggle-group
            formGroupName="chosenHour"
            class="new-appointment__button-toggle">
            <mat-button-toggle
              class="new-appointment__button-toggle"
              (click)="toggleButtonState(data)"
              [checked]="data.isSelected!"
              *ngFor="let data of visit.hours"
              value="{{ data.hour }}"
              >{{ data.hour }}</mat-button-toggle
            >
          </mat-button-toggle-group>
        </div>
      </div>
    </div>
    <p class="new-appointment__error" *ngIf="visitForm.get('specialization')?.invalid">
      {{ 'headers.spec-needed' | translate }}
    </p>

    <ng-template #noVisits>
      <p class="new-appointment__error" *ngIf="visitForm.get('chosenDate')?.value; else noData">
        {{ 'headers.doctor-unavailable' | translate }}
        {{ visitForm.get('chosenDate')!.value | date: 'yyyy-MM-dd' }}
      </p>
      <ng-template #noData>
        <p class="new-appointment__error">
          {{ 'headers.doctor-unavailable' | translate }} {{ currentDate }}
        </p>
      </ng-template>
    </ng-template>
  </div>

  <div class="new-appointment__button-container">
    <button class="new-appointment__button" mat-button (click)="cancelClicked()">
      {{ 'button.cancel' | translate }}
    </button>
    <button
      disabled="{{ visitForm.invalid }}"
      class="new-appointment__button"
      mat-button
      (click)="clickNext()">
      {{ 'button.next' | translate }}
    </button>
  </div>
</form>
