.popup {
  display: flex;
  flex-flow: column;
  gap: 2rem;

  &__button {
    background-color: var(--alert-error);
    padding: 1rem;
    margin-left: 1rem;
  }

  &__detail {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  &__value {
    width: 100%;
    height: 60%;
    resize: none;
    border: none;
    background: transparent;
    overflow-y: scroll;
    white-space: pre-wrap;
  }

  &__text {
    display: flex;
    //justify-content: space-between;
    font-size: 1rem;
    padding: 0 1rem;

    &-pin {
      padding-left: 0.5rem;
      font-weight: 500;
    }
  }
}
