<form
  class="login"
  *ngIf="!isLoggedIn"
  [formGroup]="loginForm"
  (ngSubmit)="loginForm.valid && onSubmit()">
  <mat-form-field class="login__field">
    <mat-label class="login__label">
      {{ 'login.username' | translate }}
    </mat-label>
    <input matInput formControlName="username" type="text" [errorStateMatcher]="matcher" />
  </mat-form-field>
  <div class="login__error">
    <ng-container *ngFor="let error of errorMessages.username">
      <div
        *ngIf="
          loginForm.get('username')?.hasError(error.type) &&
          (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)
        ">
        {{ 'errors.username.' + error.type | translate }}
      </div>
    </ng-container>
  </div>
  <mat-form-field class="login__field">
    <mat-label for="password" class="login__label">{{ 'login.password' | translate }}</mat-label>
    <input
      matInput
      formControlName="password"
      [type]="hide ? 'password' : 'text'"
      [errorStateMatcher]="matcher" />
    <button mat-icon-button matSuffix (click)="hide = !hide">
      <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>
  <div class="login__error">
    <ng-container *ngFor="let error of errorMessages.password">
      <div
        *ngIf="
          loginForm.get('password')?.hasError(error.type) &&
          (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
        ">
        {{ 'errors.password.' + error.type | translate }}
      </div>
    </ng-container>
  </div>
  <button
    mat-raised-button
    class="login__button"
    [disabled]="!loginForm.valid"
    (click)="onSubmit()">
    {{ 'login.button' | translate }}
  </button>
  <p class="login__text">
    {{ 'login.request' | translate }}

    <a routerLink="/register">{{ 'login.reglink' | translate }}</a>
  </p>
  <div *ngIf="loginForm.valid && isLoginFailed">Login failed: {{ errorMessage }}</div>
</form>
<p class="login__text" *ngIf="isLoggedIn">{{ 'login.message' | translate }}</p>
