.nurse {
  &__container {
    display: flex;
    flex-flow: column;
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    min-width: 600px;
    max-width: 70%;
  }

  &__button {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 0.5rem;

    &:disabled {
      background-color: grey;
    }

    &-container {
      padding: 2rem 0;
      display: flex;
      justify-content: space-between;
    }
  }

  &__list-doctor {
    display: flex;
    flex-flow: column;
    font-size: 1rem;
  }

  &__error {
    color: var(--alert-error);
    font-size: 1rem;
  }
}
