<form class="nurse" [formGroup]="visitForm">
  <div class="nurse__container">
    <mat-form-field>
      <mat-label>{{ 'headers.date' | translate }}</mat-label>
      <input formControlName="chosenDate" matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="month" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'headers.hour' | translate }}</mat-label>
      <input formControlName="hour" matInput type="time" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'headers.price' | translate }}</mat-label>
      <input formControlName="price" matInput type="number" />
    </mat-form-field>

    <mat-form-field formGroupName="medicalClinic">
      <mat-label>{{ 'headers.clinic' | translate }}</mat-label>
      <mat-select required>
        <mat-option
          (click)="setClinicId(clinic)"
          *ngFor="let clinic of clinicList"
          [value]="clinic.name"
          >{{ clinic.name }}, {{ 'headers.street' | translate }}.{{ clinic.street }}
          {{ clinic.houseNo }}<span *ngIf="clinic.flatNo">/{{ clinic.flatNo }}</span
          >, {{ clinic.postalCode }} {{ clinic.city }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>{{ 'headers.specialization' | translate }}</mat-label>
      <input
        type="text"
        placeholder="{{ 'headers.specialization' | translate }}"
        matInput
        formControlName="specialization"
        [matAutocomplete]="auto"
        (click)="clearResult()" />
      <mat-autocomplete class="new-appointment" #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="'specialization.' + option.name | translate">
          {{ 'specialization.' + option.name | translate }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-radio-group class="nurse__list-doctor" formGroupName="doctor" aria-label="Select a doctor">
      <mat-radio-button
        (click)="setDoctorId(doctor)"
        *ngFor="let doctor of doctors"
        [value]="doctor.id">
        {{ doctor.name }} {{ doctor.surname }}
      </mat-radio-button>
    </mat-radio-group>

    <span class="nurse__error" *ngIf="doctorUnavailable">{{
      'headers.doctor-unavailable' | translate
    }}</span>
    <div class="nurse__button-container">
      <button class="nurse__button" mat-button (click)="cancelClicked()">
        {{ 'button.cancel' | translate }}
      </button>
      <button
        disabled="{{ visitForm.invalid }}"
        class="nurse__button"
        mat-button
        (click)="addVisit()">
        {{ 'button.next' | translate }}
      </button>
    </div>
  </div>
</form>
