<form
  [formGroup]="registrationForm"
  class="register"
  (ngSubmit)="registrationForm.valid && onSubmit()">
  <h2 class="form__header">
    {{ 'register.title' | translate }}
  </h2>
  <div>
    <mat-form-field class="register__field">
      <mat-label class="register__label"> {{ 'register.fName' | translate }}</mat-label>
      <input matInput formControlName="firstName" type="text" />
    </mat-form-field>

    <div class="register__error">
      <ng-container *ngFor="let error of errorMessages.password">
        <div
          *ngIf="
            registrationForm.get('firstName')?.hasError(error.type) &&
            (registrationForm.get('firstName')?.dirty || registrationForm.get('name')?.touched)
          ">
          {{ 'errors.fName' + error.type | translate }}
        </div>
      </ng-container>
    </div>

    <mat-form-field class="register__field register__field-sName">
      <mat-label class="register__label"> {{ 'register.sName' | translate }}</mat-label>
      <input matInput formControlName="secondName" type="text" />
    </mat-form-field>

    <mat-form-field class="register__field">
      <mat-label class="register__label">{{ 'register.lName' | translate }}</mat-label>
      <input matInput formControlName="lastName" type="text" />
    </mat-form-field>

    <div class="register__error">
      <ng-container *ngFor="let error of errorMessages.lastName">
        <div
          *ngIf="
            registrationForm.get('lastName')?.hasError(error.type) &&
            (registrationForm.get('lastName')?.dirty || registrationForm.get('lastname')?.touched)
          ">
          {{ 'errors.lName' + error.type | translate }}
        </div>
      </ng-container>
    </div>

    <mat-form-field class="register__field">
      <mat-label class="register__label">{{ 'register.userName' | translate }}</mat-label>
      <input matInput formControlName="userName" type="text" />
    </mat-form-field>

    <div class="register__error">
      <ng-container *ngFor="let error of errorMessages.userName">
        <div
          *ngIf="
            registrationForm.get('userName')?.hasError(error.type) &&
            (registrationForm.get('userName')?.dirty || registrationForm.get('userName')?.touched)
          ">
          {{ 'errors.userName' + error.type | translate }}
        </div>
      </ng-container>
    </div>
    <mat-form-field class="register__field">
      <mat-label class="register__label"> {{ 'register.email' | translate }} </mat-label>
      <input matInput formControlName="email" type="text" />
    </mat-form-field>

    <div class="register__error">
      <ng-container *ngFor="let error of errorMessages.email">
        <div
          *ngIf="
            registrationForm.get('email')?.hasError(error.type) &&
            (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)
          ">
          {{ 'errors.email.' + error.type | translate }}
        </div>
      </ng-container>
    </div>
    <mat-form-field class="register__field">
      <mat-label class="register__label">
        {{ 'register.pesel' | translate }}
      </mat-label>
      <input matInput type="number" #input OnlyNumberInput formControlName="pesel" />
    </mat-form-field>

    <div class="register__error">
      <ng-container *ngFor="let error of errorMessages.password">
        <div
          *ngIf="
            registrationForm.get('pesel')?.hasError(error.type) &&
            (registrationForm.get('pesel')?.dirty || registrationForm.get('pesel')?.touched)
          ">
          {{ 'errors.pesel.' + error.type | translate }}
        </div>
      </ng-container>
    </div>

    <mat-form-field class="register__field">
      <mat-label class="register__label">{{ 'register.password' | translate }}</mat-label>
      <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" />
      <button tabindex="-1" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <div class="register__error">
      <ng-container *ngFor="let error of errorMessages.password">
        <div
          *ngIf="
            registrationForm.get('password')?.hasError(error.type) &&
            (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched)
          ">
          {{ 'errors.password.' + error.type | translate }}
        </div>
      </ng-container>
    </div>

    <mat-form-field class="register__field">
      <mat-label>{{ 'register.confpassword' | translate }}</mat-label>
      <input
        formControlName="confirmpassword"
        matInput
        [type]="hideconfirmPassword ? 'password' : 'text'" />
      <button
        tabindex="-1"
        mat-icon-button
        matSuffix
        (click)="hideconfirmPassword = !hideconfirmPassword">
        <mat-icon>{{ hideconfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <div class="register__error">
      <ng-container *ngFor="let error of errorMessages.confirmpassword">
        <div
          *ngIf="
            registrationForm.get('confirmpassword')?.hasError(error.type) &&
            (registrationForm.get('confirmpassword')?.dirty ||
              registrationForm.get('confirmpassword')?.touched)
          ">
          {{ 'errors.password.' + error.type | translate }}
        </div>
      </ng-container>
    </div>
    <p class="register__error" *ngIf="f['confirmpassword'].getError('mustMatch') != null">
      {{ 'errors.password.match' | translate }}
    </p>

    <button
      type="submit"
      class="register__button"
      [disabled]="!registrationForm.valid"
      (click)="goToLogin()">
      {{ 'register.button' | translate }}
    </button>
  </div>
  <div *ngIf="registrationForm.valid && isSignUpFailed">Login failed: {{ errorMessage }}</div>
  <div *ngIf="registrationMessage">{{ registrationMessage }}</div>
</form>
