<form class="preview" [formGroup]="visitForm">
  <div class="preview__container">
    <mat-form-field class="example-full-width">
      <mat-label>Wybierz Pacjenta</mat-label>
      <input
        type="text"
        placeholder="Wybierz Pacjenta"
        matInput
        [formControl]="userSearchControl" />
    </mat-form-field>

    <mat-radio-group class="preview__list-doctor" aria-label="Select a user">
      <mat-radio-button
        (click)="setUserId(user)"
        *ngFor="let user of filteredUsersByTerm"
        [value]="user.id">
        {{ user.name }} {{ user.surname }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <button class="preview__button-clear" mat-button (click)="resetForm()">
    Pokaż wszystkie wizyty
  </button>

  <div class="preview__visits" *ngFor="let visit of futureVisits">
    <app-appointments-card
      [specialization]="visit.specialization"
      [doctorName]="visit.doctorName"
      [doctorSurname]="visit.doctorSurname"
      [date]="visit.date"
      [hour]="visit.hour"
      [isFutureDate]="true"
      [showDetailsButton]="true"
      [clinic]="visit.medicalClinic"
      (clickCancelButton)="deleteVisit(visit)"
      (clickDetailsButton)="openInputDialog(visit.visitId)"
      [user]="visit.userName + ' ' + visit.userSurname"></app-appointments-card>
  </div>
</form>
