<form class="manage" [formGroup]="visitForm">
  <div class="manage__container">
    <mat-form-field class="example-full-width">
      <mat-label>Wybierz specjalizację</mat-label>
      <input
        type="text"
        placeholder="Wybierz specjalizację"
        matInput
        formControlName="specialization"
        [matAutocomplete]="auto"
        (click)="clearResult()" />
      <mat-autocomplete class="new-appointment" #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-radio-group
      class="manage__list-doctor"
      formGroupName="doctor"
      aria-label="Select a doctor">
      <mat-radio-button
        (click)="setDoctorId(doctor)"
        *ngFor="let doctor of doctors"
        [value]="doctor.id">
        {{ doctor.name }} {{ doctor.surname }}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="manage__container">
    <mat-form-field class="example-full-width">
      <mat-label>Wybierz Pacjenta</mat-label>
      <input type="text" placeholder="Wybierz Pacjenta" matInput formControlName="userSearch" />
    </mat-form-field>

    <mat-radio-group class="manage__list-doctor" formGroupName="user" aria-label="Select a user">
      <mat-radio-button (click)="setUserId(user)" *ngFor="let user of userList" [value]="user.id">
        {{ user.name }} {{ user.surname }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <button class="manage__button-clear" mat-button (click)="resetForm()">
    Pokaż wszystkie wizyty
  </button>

  <div class="manage__visits" *ngFor="let visit of futureVisits">
    <app-appointments-card
      [specialization]="visit.specialization"
      [doctorName]="visit.doctorName"
      [doctorSurname]="visit.doctorSurname"
      [date]="visit.date"
      [hour]="visit.hour"
      [isFutureDate]="true"
      (click)="deleteVisit(visit)"
      [user]="visit.userName + ' ' + visit.userSurname"></app-appointments-card>
  </div>
</form>
