<nav class="navbar">
  <div class="navbar__container">
    <!--    <a href="#" class="navbar-brand">medical-clinic</a>-->
    <ul class="navbar__list" routerLinkActive="active">
      <li><a href="#" class="navbar-brand">medical-clinic</a></li>
      <li *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Dodaj nowe wizyty</a>
      </li>

      <li class="nav-item" *ngIf="!isLoggedIn">
        <a routerLink="/register" class="nav-link">Sign Up</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href class="nav-link" (click)="logout()">Wyloguj</a>
      </li>
    </ul>
    <!--    <ul class="navbar__list" *ngIf="!isLoggedIn">-->
    <!--      <li class="nav-item" *ngIf="!isLoggedIn">-->
    <!--        <a routerLink="/register" class="nav-link">Sign Up</a>-->
    <!--      </li>-->
    <!--      <li class="nav-item" *ngIf="!isLoggedIn">-->
    <!--        <a href="/login" class="nav-link" routerLink="login">Login</a>-->
    <!--      </li>-->
    <!--    </ul>-->

    <!--    <ul class="navbar__list" *ngIf="isLoggedIn">-->
    <!--      <li class="nav-item">-->
    <!--        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>-->
    <!--      </li>-->
    <!--      <li class="nav-item">-->
    <!--        <a href class="nav-link" (click)="logout()">LogOut</a>-->
    <!--      </li>-->
    <!--    </ul>-->
    <div class="navbar__language"><app-languages></app-languages></div>
  </div>

  <!--  <div class="navbar__language"><app-languages></app-languages></div>-->
</nav>
