<nav class="navbar">
  <div class="navbar__container">
    <ul class="navbar__list" routerLinkActive="active" *ngIf="!isLoggedIn">
      <li><a href="#" class="navbar-brand">medical-clinic</a></li>

      <li class="nav-item">
        <a routerLink="/register" class="nav-link">{{ 'nav.signup' | translate }}</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">{{ 'nav.login' | translate }}</a>
      </li>
    </ul>
    <ul class="navbar__list" routerLinkActive="active" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" href="visit" routerLink="visit/future-visit">{{
          'nav.main-page' | translate
        }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="visit/new-visit" routerLink="visit/new-visit">{{
          'nav.make-appointment' | translate
        }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="visit/recent">{{ 'nav.recent-appointment' | translate }}</a>
      </li>
      <li *ngIf="showDoctorBoard">
        <a
          href="visit/preview-appointments"
          class="nav-link"
          routerLink="visit/preview-appointments"
          >{{ 'nav.show-appointments' | translate }}</a
        >
      </li>
      <li *ngIf="showNurseBoard">
        <a href="visit/add" class="nav-link" routerLink="visit/add">{{
          'nav.add-appointment' | translate
        }}</a>
      </li>
      <li *ngIf="showNurseBoard">
        <a
          href="visit/manage-appointments"
          class="nav-link"
          routerLink="visit/manage-appointments"
          >{{ 'nav.manage-appointments' | translate }}</a
        >
      </li>
      <li *ngIf="showNurseBoard">
        <a href="visit/new-role" class="nav-link" routerLink="visit/new-role">{{
          'nav.new-role' | translate
        }}</a>
      </li>
      <li *ngIf="showNurseBoard">
        <a href="visit/add-balance" class="nav-link" routerLink="visit/add-balance">{{
          'nav.add-balance' | translate
        }}</a>
      </li>
      <li class="nav-item">
        <a href="user" class="nav-link"
          >{{ 'headers.' + this.userRole | translate }} {{ userList?.name }}
          {{ userList?.lastname }}</a
        >
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">{{ 'button.logout' | translate }}</a>
      </li>
    </ul>

    <div class="navbar__language"><app-languages></app-languages></div>
  </div>
</nav>
