::ng-deep .navbar {
  display: flex;
  background-color: var(--primary-color);
  padding: 1rem;

  &__container {
    display: flex;
    flex-flow: row;
  }

  &__list {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    list-style: none;
    gap: 1rem;
    margin-left: 1rem;
  }

  a {
    text-decoration: none;
    color: var(--white);
    &:focus {
      font-weight: 600;
      font-size: 1rem;
      text-decoration: underline;
    }
  }
  ul {
    padding-inline-start: 0;
  }

  &__language {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .mat-option {
    background-color: var(--white);
    color: var(--black);
  }
}
