<h2>{{ 'headers.recent-visit' | translate }}</h2>
<div class="recent-appointments" *ngFor="let visit of pastVisits">
  <app-appointments-card
    [specialization]="'specialization.' + visit.specialization | translate"
    [doctorName]="visit.doctorName"
    [doctorSurname]="visit.doctorSurname"
    [date]="visit.date"
    [hour]="visit.hour"
    [clinic]="visit.medicalClinic"
    (clickDetailsButton)="openUpdateDialog(visit.visitId)"
    (clickAgainMakeAppointmentButton)="
      navigateToNewVisit(visit.specialization)
    "></app-appointments-card>
</div>
<div *ngIf="pastVisits?.length === 0">
  <span class="recent-appointments__empty-list">{{ 'appointment.no-visit' | translate }}</span>
</div>
