<h2>Twoje Odbyte wizyty</h2>
<div class="recent-appointments" *ngFor="let visit of pastVisits">
  <app-appointments-card
    [specialization]="visit.specialization"
    [doctorName]="visit.doctorName"
    [doctorSurname]="visit.doctorSurname"
    [date]="visit.date"
    [hour]="visit.hour"
    [clinic]="visit.medicalClinic"
    (clickDetailsButton)="openUpdateDialog(visit.visitId)"
    (clickAgainMakeAppointmentButton)="
      navigateToNewVisit(visit.specialization)
    "></app-appointments-card>
  <div *ngIf="pastVisits && pastVisits.length <= 0">Brak wizyt</div>
</div>
