<form class="manage" [formGroup]="visitForm">
  <div class="manage__container">
    <mat-form-field class="example-full-width">
      <mat-label>{{ 'headers.specialization' | translate }}</mat-label>
      <input
        type="text"
        placeholder="{{ 'headers.specialization' | translate }}"
        matInput
        formControlName="specialization"
        [matAutocomplete]="auto"
        (click)="clearResult()" />
      <mat-autocomplete class="new-appointment" #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="'specialization.' + option.name | translate">
          {{ 'specialization.' + option.name | translate }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-radio-group
      class="manage__list-doctor"
      formGroupName="doctor"
      aria-label="Select a doctor">
      <mat-radio-button
        (click)="setDoctorId(doctor)"
        *ngFor="let doctor of doctors"
        [value]="doctor.id">
        {{ doctor.name }} {{ doctor.surname }}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="manage__container">
    <mat-form-field class="example-full-width">
      <mat-label>{{ 'headers.select-patient' | translate }}</mat-label>
      <input
        type="text"
        placeholder=" {{ 'headers.select-patient' | translate }}"
        matInput
        [formControl]="userSearchControl" />
    </mat-form-field>

    <mat-radio-group class="manage__list-doctor" aria-label="Select a user">
      <mat-radio-button
        (click)="setUserId(user)"
        *ngFor="let user of filteredUsersByTerm"
        [value]="user.id">
        {{ user.name }} {{ user.lastname }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <button class="manage__button-clear" mat-button (click)="resetForm()">
    {{ 'button.all-visits' | translate }}
  </button>
  <div class="manage__empty-list" *ngIf="futureVisits?.length === 0">
    <span>{{ 'appointment.no-visit-for' | translate }} </span>
    <span *ngIf="visitForm.get('user.id')?.value"
      >{{ 'appointment.patient-pl' | translate }} {{ visitForm.get('user.name')?.value }}
      {{ visitForm.get('user.surname')?.value }}</span
    >
    <span *ngIf="visitForm.get('doctor.id')?.value">
      {{ 'appointment.doctor-pl' | translate }}
      {{ visitForm.get('doctor.name')?.value }} {{ visitForm.get('doctor.surname')?.value }}</span
    >
  </div>
  <div class="manage__visits" *ngFor="let visit of futureVisits">
    <app-appointments-card
      [specialization]="'specialization.' + visit.specialization | translate"
      [doctorName]="visit.doctorName"
      [doctorSurname]="visit.doctorSurname"
      [date]="visit.date"
      [hour]="visit.hour"
      [isFutureDate]="true"
      (clickCancelButton)="deleteVisit(visit)"
      [clinic]="visit.medicalClinic"
      [user]="visit.userName + ' ' + visit.userSurname"></app-appointments-card>
  </div>
</form>
